/* For mobile screens */

body {
	background-color: black;
	font-family: Lato, sans-serif;
	color: white;
	text-align: center;
}

h1 {
	font-size: 1.3em;
	letter-spacing: 0.2em;
}


#podnaslov {
	font-size: 0.7em;
	font-weight: 400;
}

h2 {
	font-size: 1.5em;
	letter-spacing: 0.1em;
	line-height: 1em;
}

.Mercator {
	height: /*19.75px;*/ 262px;
	width: /*19.75px;*/ 262px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}


/* For larger screens
.firm {
	display: flex;
	align-items: center;
	justify-content: center;
}

.value {
	float:left;
	display: inline-block;
}

.Mercator {
	height: 19.75px; 262px;
	width: 19.75px; 262px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	float:left;
} */
