/* For mobile screens */

body {
	background-color: black;
	font-family: Lato, sans-serif;
	color: white;
	text-align: center;
}

h1 {
	font-size: 1.3em;
	letter-spacing: 0.2em;
}


#podnaslov {
	font-size: 0.7em;
	font-weight: 400;
	overflow: hidden;
}

h2 {
	font-size: 1.5em;
	letter-spacing: 0.1em;
	line-height: 1em;
}

button {
	background-color: #dcdcdc;
	color: black;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	padding: 0.8em 0.6em;
	margin: 2%;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: #C3C3C3;
	cursor: pointer;
}

.Mercator {
	height: 19.75px;
	width: 19.75px;
	background-color: #e0144c;
	border-radius: 50%;
	display: inline-block;
}

.cel_Mercator {
	margin-left: 100%;
	width: 200%;
}

button:focus+.cel_Mercator {
	animation-name: left;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
	animation-fill-mode: both;
}

.button:active {
	background-color: #C3C3C3;
    transform: translateY(2px);
}

.widescreen {
	display: none;
}


@keyframes left {
	0% {
		margin-left: 100%;
		width: 200%;
	}
	
	100% {margin-left: 0%;
		width: 100%;
		
	}

@keyframes scale-up {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
     }
 
}
